<div class="hero">
  {% include header.html %}
  <div class="services wrapper">
    <ul>
      <li class="nuts"><span>&#9881;</span> Nuts and Bolts Engineering</li>
      <li class="proj"><span>&#9881;</span> Large and Small Projects</li>
      <li class="robot"><span>&#9881;</span> Robotics and Automation</li>
      <li class="threeD"><span>&#9881;</span> 3-D Modelling and Analysis</li>
      <li class="proto"><span>&#9881;</span> In-House Prototyping and Production</li>
      <li class="upgrade"><span>&#9881;</span> Troubleshooting, Retrofits, and Upgrades</li>
      <li class="novel"><span>&#9881;</span> New Perspective and Novel Solutions</li>
      <li class="expert"><span>&#9881;</span> Expert Reviews and Design Assessments</li>
      <li class="options"><span>&#9881;</span> Flexible Contracting Options</li>
      <li class="lease"><span>&#9881;</span> Leasing Available</li>
    </ul>
  </div>
</div>