<div class="wrapper">
  <div class="home-projects-grid">
    {% include projects/roto_mold.html %}
    {% include projects/cartridge_filling.html %}
    {% include projects/tie_dye.html %}
    {% include projects/lagoon_pumping.html %}
    {% include projects/garden_seed_display.html %}
    {% include projects/bait_packaging.html %}
    {% include projects/sheet_feed_system.html %}
    {% include projects/magnet_dispenser_systems.html %}
    {% include projects/automotive_component_assembly_station.html %}
    {% include projects/large_box_blank_feed_and_gluing_system_refurbishment.html %}
  </div>
</div>
