<div class="wrapper">
  <div class="home-projects-grid">
    {% include projects/roto_mold.html %}
    {% include projects/cartridge_filling.html %}
    {% include projects/tie_dye.html %}
    {% include projects/lagoon_pumping.html %}
    {% include projects/garden_seed_display.html %}
    {% include projects/bait_packaging.html %}
    {% include projects/sheet_feed_system.html %}
    {% include projects/magnet_dispenser_systems.html %}
    {% include projects/automotive_component_assembly_station.html %}
    {% include projects/automotive_component_inspection_station.html %}
    {% include projects/large_box_blank_feed_and_gluing_system_refurbishment.html %}
    {% include projects/refurbish_pneumatically_driven_paint_booth.html %}
    {% include projects/high_temperature_oven_lift_system.html %}
    {% include projects/automate_simulated_stone_mold_production.html %}
    {% include projects/roof_and_door_actuation_systems_for_demo_trailer.html %}
    {% include projects/quick_change_production_tooling.html %}
    {% include projects/seed_starter_tray_assembly_system.html %}
    {% include projects/edge_cleaning_brush_for_shingle_production.html %}
    {% include projects/palletizing_robot_cell_setup_and_refurbishment.html %}
    {% include projects/therapy_table.html %}
    {% include projects/flux_recycling_system.html %}
    {% include projects/high_pressure_hydraulic_swivel_design.html %}
    {% include projects/marine_thruster_system_design.html %}
    {% include projects/marine_hydraulic_power_unit_design.html %}
    {% include projects/rovs_and_support_systems.html %}
    {% include projects/laser_measuring_and_inspection_system.html %}
  </div>
</div>
