<div class="wrapper">
  <div class="home-projects-grid">
    {% include projects/roto_mold.html %}
    {% include projects/cartridge_filling.html %}
    {% include projects/tie_dye.html %}
    {% include projects/lagoon_pumping.html %}
    {% include projects/garden_seed_display.html %}
    {% include projects/bait_packing.html %}

    {% include projects/roto_mold.html %}
    {% include projects/cartridge_filling.html %}
    {% include projects/tie_dye.html %}
    {% include projects/lagoon_pumping.html %}
    {% include projects/garden_seed_display.html %}
    {% include projects/bait_packing.html %}
  </div>
</div>
