<div class="services-wrapper">
  <div class="services">
    <div><span>&#x2713;</span>Nuts and Bolts Engineering</div>
    <div><span>&#x2713;</span>Large and Small Projects</div>
    <div><span>&#x2713;</span>Robotics and Automation</div>
    <div><span>&#x2713;</span>3-D Modeldivng and Analysis</div>
    <div><span>&#x2713;</span>In-House Prototyping and Production</div>
    <div><span>&#x2713;</span>Troubleshooting, Retrofits, and Upgrades</div>
    <div><span>&#x2713;</span>New Perspective and Novel Solutions</div>
    <div><span>&#x2713;</span>Expert Reviews and Design Assessments</div>
    <div><span>&#x2713;</span>Flexible Contracting Options</div>
    <div><span>&#x2713;</span>Leasing Available</div>
  </div>
</div>
