<div class="services-wrapper">
  <ul class="services">
    <li>Nuts and Bolts Engineering</li>
    <li>Large and Small Projects</li>
    <li>Robotics and Automation</li>
    <li>3-D Modeling and Analysis</li>
    <li>In-House Prototyping and Production</li>
    <li>Troubleshooting, Retrofits, and Upgrades</li>
    <li>New Perspective and Novel Solutions</li>
    <li>Expert Reviews and Design Assessments</li>
    <li>Flexible Contracting Options</li>
    <li>Leasing Available</li>
  </ul>
</div>
