.home-projects-grid {
  display: grid;
  padding: 2vw 0;
  gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

a.project {
  font-size: 1.3rem;
  background-size: cover;
  padding-top: 80%;
}

.bait-packing {
  background: url("../images/bait-packing-closeup.jpg") center center no-repeat;
}

.roto-mold {
  background: url("../images/roto_mold_small.jpg") center center no-repeat;
}

.roto-mold-model {
  background: url("../images/roto_mold_model.jpg") center center no-repeat;
}

.garden-seed {
  background: url("../images/garden_seed_display.jpg") center center no-repeat;
}

.cartridge-filling {
  background: url("../images/cartridge_filling_system.jpg") center center no-repeat;
}

.cartridge-filling-closeup {
  background: url("../images/cartridge_filling_closeup.jpg") center center no-repeat;
}

.lagoon-pumping {
  background: url("../images/lagoon_pumping_system.jpg") center center no-repeat;
}

.tie-dye {
  background: url("../images/tie_dye_machine.jpg") center center no-repeat;
}

.sheet-feed {
  background: url("../images/sheet_feed_system_small.jpg") center center no-repeat;
}

.magnet-dispenser-systems {
  background: url("../images/magnet_dispenser_detail.jpg") center center no-repeat;
}

/* Description text */
.project .description {
  visibility: hidden;
  background-color: $mediumGrey;
  color: #fff;
  text-align: center;
  padding: 5px 0;

  /* Position the description text */
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;

  /* Fade in description */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the description text when you mouse over the description container */
.project:hover .description {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .home-projects-grid {
    padding: 1rem 0;
  }
}
