$darkGrey: rgb(50, 50, 50);
$heroOverlayTop: hsla(205, 63%, 20%, 0.95);
$heroOverlayBottom: hsla(205, 63%, 20%, 0.80);
$darkBackground: hsl(205, 63%, 20%);
$titleText: hsl(205,40%, 82%);
$lightText: hsl(205, 90%, 83%);
$lightBackground: hsl(205, 25%, 90%);
$button: hsl(205, 57%, 70%);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: $darkGrey;
}

a {
  color: $darkGrey;
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $darkBackground;
  font-weight: 700;
  margin: 0 0 1.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 0 1.5rem;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.wrapper {
  width: 95vw;
  margin: 0 auto;
}

.wrapper.narrow {
  width: 100%;
  padding: 0 2rem;
  max-width: 900px;
}

.wrapper.wide {
  width: 100%;
  padding: 0 2rem;
  max-width: 1400px;
}

.add-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero {
  display: grid;
  background: 
    linear-gradient($heroOverlayTop, $heroOverlayBottom),
    url("../images/hero-background.png") no-repeat top center;
  background-size: cover;
  height: 100vh;
 
  .main-title {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    padding: 2rem;
    h1, h2, a {
      margin-bottom: 2.5rem;
      margin-top: 0;
    }
    h1 {
      color: $titleText;
      text-transform: none;
      font-size: 2.5rem;
      font-weight: normal;
    }
    h2 {
      color: $titleText;
      font-size: 2.2rem;
      font-weight: normal;
    }
    a {
      font-size: 1.5rem;
      background: $button;
      padding: 10px 15px;
      color: $darkBackground;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
      &:hover {
        background: mix(black, $button, 12%);
      }
    }
  }
}

.services-wrapper {
  background: url("../../assets/images/subtle_surface.png") repeat;
}

ul.services {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 50px 50px 100px;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 1.5rem;
  list-style: none;
  li::before {
    content: "\2713";
    color: lighten($darkBackground, 15%);
    font-weight: bold;
    display: inline-block; 
    width: 2rem;
    margin-left: -2rem;
  }
}

.project-grid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
    padding: 0 1rem;
  }

  ul.services {
    max-width: 605px;
    grid-template-columns: 1fr;
    gap: 1.1rem;
    font-size: 1.1rem;
    padding: 40px 40px 40px 60px;
    li::before {
      width: 1.5rem;
      margin-left: -1.5rem;
    }
  }

  .hero {
    height: auto;

    .main-title {
      h1, h2, a {
        margin-bottom: 1.5rem;
      }
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.3rem;
      }
      a {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
