$green: rgb(107, 153, 76);
$darkGreen: rgb(56, 66, 48);
$darkGrey: rgb(50, 50, 50);
$darkRed: rgb(46, 5, 13);
$lightGreyGreen: rgb(204, 214, 197);
$plum: rgb(73, 65, 82);
$offWhite: rgb(220, 220, 220);

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: $darkGrey;
}

.wrapper {
  margin: 0 auto;
}

.home.wrapper {
  width: 80vw;
}
