$darkGrey: rgb(50, 50, 50);
$heroOverlayTop: hsla(205, 63%, 20%, 0.95);
$heroOverlayBottom: hsla(205, 63%, 20%, 0.80);
$darkBackground: hsl(205, 63%, 20%);
$titleText: hsl(205,40%, 82%);
$lightText: hsl(205, 90%, 83%);
$lightBackground: hsl(205, 25%, 90%);
$button: hsl(205, 57%, 70%);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: $darkGrey;
}

a {
  color: $darkGrey;
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $darkBackground;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.wrapper {
  width: 95vw;
  margin: 0 auto;
}

.wrapper.narrow {
  width: 100%;
  padding: 0 1rem;
  max-width: 900px;
}

.add-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero {
  display: grid;
  background: 
    linear-gradient($heroOverlayTop, $heroOverlayBottom),
    url("../images/hero-background.png") no-repeat top center;
  background-size: cover;
  height: 100vh;
  
  .main-title {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    padding: 2rem;
    h1, h2, a {
      margin-bottom: 5vmin;
      margin-top: 0;
    }
    h1 {
      color: $titleText;
      text-transform: none;
      font-size: 6vmin;
      font-weight: normal;
    }
    h2 {
      color: $titleText;
      font-size: 4.5vmin;
      font-weight: normal;
    }
    a {
      font-size: 4vmin;
      background: $button;
      padding: 10px 15px;
      color: $darkBackground;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
      &:hover {
        background: mix(black, $button, 12%);
      }
    }
  }
}

.services-wrapper {
  background: url("../../assets/images/subtle_surface.png") repeat;
}

.services {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 1.7rem;
  span {
    color: lighten($darkBackground, 15%);
    margin-right: 12px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
    padding: 0 1rem;
  }

  .services {
    max-width: 605px;
    grid-template-columns: 1fr;
    gap: 1.1rem;
    font-size: 1.5rem;
  }

  .hero {
    height: auto;
  }
}
